IOTCH2semestre1/flowsCh2.1.json
[{"id":"5b2b3b51.c83944","type":"tab","label":"Challenge 2 semestre - 2021","disabled":false,"info":""},{"id":"1ced353.36951cb","type":"json","z":"5b2b3b51.c83944","name":"","property":"payload","action":"","pretty":false,"x":510,"y":200,"wires":[["39e5473c.e42538","1ed85567.c3dbeb","dabbd994.f42d68"]]},{"id":"39e5473c.e42538","type":"change","z":"5b2b3b51.c83944","name":"temp1","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.temp1","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":320,"wires":[["e423395b.c3a878"]]},{"id":"e423395b.c3a878","type":"ui_gauge","z":"5b2b3b51.c83944","name":"temp","group":"36a6fc68.748d44","order":0,"width":0,"height":0,"gtype":"gage","title":"Temperatura","label":"ºC","format":"{{value}}","min":"20","max":"50","colors":["#0036b3","#1be600","#ff0000"],"seg1":"36","seg2":"39,5","x":730,"y":320,"wires":[]},{"id":"529885e0.ccab8c","type":"ui_switch","z":"5b2b3b51.c83944","name":"Temperatura","label":"","tooltip":"Ligar e Desligar","group":"36a6fc68.748d44","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ligaTemp","onvalueType":"str","onicon":"","oncolor":"","offvalue":"desligaTemp","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":110,"y":200,"wires":[["458d533d.7a53ac"]]},{"id":"458d533d.7a53ac","type":"serial request","z":"5b2b3b51.c83944","name":"","serial":"b69a66ed.cfe588","x":320,"y":200,"wires":[["1ced353.36951cb"]]},{"id":"e28818ac.0af988","type":"ui_switch","z":"5b2b3b51.c83944","name":"Frequência Cardíaca ","label":"","tooltip":"Ligar e Desligar","group":"887200d.fcb22","order":2,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ligaFreq","onvalueType":"str","onicon":"","oncolor":"","offvalue":"desligaFreq","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":140,"y":260,"wires":[["458d533d.7a53ac"]]},{"id":"1ed85567.c3dbeb","type":"change","z":"5b2b3b51.c83944","name":"FreqCard","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.freq","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":360,"wires":[["e7007fb5.c40fa"]]},{"id":"e7007fb5.c40fa","type":"ui_gauge","z":"5b2b3b51.c83944","name":"Freq","group":"887200d.fcb22","order":3,"width":0,"height":0,"gtype":"compass","title":"Frequência Cardíaca","label":"bpm","format":"{{value}}","min":0,"max":"200","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":360,"wires":[]},{"id":"3021892d.a51e36","type":"ui_switch","z":"5b2b3b51.c83944","name":"Oxímetro","label":"","tooltip":"Ligar e Desligar","group":"380a63c3.a4ef7c","order":4,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"ligaOxi","onvalueType":"str","onicon":"","oncolor":"","offvalue":"deligaOxi","offvalueType":"str","officon":"","offcolor":"","animate":false,"x":100,"y":320,"wires":[["458d533d.7a53ac"]]},{"id":"dabbd994.f42d68","type":"change","z":"5b2b3b51.c83944","name":"Oxímetro","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.oxi","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":580,"y":400,"wires":[["968e10b0.11a93","5a3ae131.daf8"]]},{"id":"968e10b0.11a93","type":"ui_text","z":"5b2b3b51.c83944","group":"380a63c3.a4ef7c","order":5,"width":"0","height":"0","name":"","label":"Sp02 (%)","format":"{{msg.payload}}","layout":"col-center","x":740,"y":400,"wires":[]},{"id":"5a3ae131.daf8","type":"ui_gauge","z":"5b2b3b51.c83944","name":"Oxi","group":"380a63c3.a4ef7c","order":0,"width":0,"height":0,"gtype":"donut","title":"Oxímetro","label":"SpO2(%)","format":"{{value}}","min":0,"max":"100","colors":["#ff1900","#e6e600","#3acb43"],"seg1":"80","seg2":"90","x":700,"y":460,"wires":[]},{"id":"36a6fc68.748d44","type":"ui_group","name":"Temperatura Corporal","tab":"872fc800.1d5418","order":2,"disp":true,"width":"6","collapse":false},{"id":"b69a66ed.cfe588","type":"serial-port","serialport":"COM12","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"887200d.fcb22","type":"ui_group","name":"Frequência Cardíaca","tab":"872fc800.1d5418","order":3,"disp":true,"width":"6","collapse":false},{"id":"380a63c3.a4ef7c","type":"ui_group","name":"Oxímetro","tab":"872fc800.1d5418","order":4,"disp":true,"width":"6","collapse":false},{"id":"872fc800.1d5418","type":"ui_tab","name":"Challenge 2.1","icon":"dashboard","disabled":false,"hidden":false}]